@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html::-webkit-scrollbar{
    width: 5px;
    
}
html::-webkit-scrollbar-thumb{
    border-radius: 50px;
    background: rgb(199,47,47);
    
}
html::-webkit-scrollbar-track{
    background: rgba(199, 47, 47, 0.3);
}
h1,h2,h3,h4,h5,h6,a,p,td,span{
    font-family: 'Noto Sans KR', sans-serif;
}

.screen_out{
    display: none;
}
ul,ol,li{
    list-style: none;
}