<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Academy.css">
    <link rel="stylesheet" href="Academy_section_two.css">
    <link rel="stylesheet" href="Academy_section_three.css">
    <link rel="stylesheet" href="Academy_section_four.css">
    <link rel="stylesheet" href="../../../styles/reset.css">
    <link rel="stylesheet" href="Academy_section_three.css">
    <link href="../../favicon.png" rel="shortcut icon">
    <script src="../../../jquery/jquery.js"></script>
    <script src="Academy_teacher.js"></script>
    <script src="Academy_space_img.js"></script>
    <title>할리스: 아카데미 소개</title>
</head>
<body>
    <header id="header" class="header"></header>
    <main id="main" class="main">
        <article id="container" class="container">
            <section class="sec_one">
                <div class="banner_wrap">
                    <div class="banner">
                        <div class="banner_txt">
                            <span class="h2_deco"></span>
                            <h2>아카데미 소개</h2>
                        </div>
                    </div>
                </div>
            </section>

            <section class="sec_two">
                <div class="teacher_intro_wrap">
                    <h3>강사소개</h3>
                    <div class="teacher_intro">
                        <div class="teacher_detail_intro">
                            <div class="say_it">
                                <img src="Academy_img_box/따옴표왼쪽.png" alt="">
                                <img src="Academy_img_box/따옴표오른쪽.png" alt="">
                            </div>

                            <div class="teacher_profile">
                                <div class="show_teacher_img">
                                    <img src="강사진소개/teacher_img/teacher1.png" alt="">
                                </div>

                                <div class="info">
                                    <ul>
                                        <li>
                                            <div class="name">이름 :</div>
                                            <div class="teacher_name">남아름</div>
                                        </li>
                                        
                                        <li>
                                            <div class="locate">지역 :</div>
                                            <div class="teacher_locate">서울</div>
                                        </li>
                                        
                                        <li>
                                            <div class="small_school">초등학교 :</div>
                                            <div class="teacher_small_school">서울 초등학교</div>
                                        </li>
                                        
                                        <li>
                                            <div class="middle_school">중학교 :</div>
                                            <div class="teacher_middle_school">서울 중학교</div>          
                                        </li>
                                        
                                        <li>
                                            <div class="high_school">고등학교 :</div>
                                            <div class="teacher_high_school">서울 고등학교</div>      
                                        </li>
                                        
                                        <li>
                                            <div class="college">대학교 :</div>
                                            <div class="teacher_college">서울 대학교</div>          
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <ul class="card">
                            <li>
                                <a href="#none">
                                        <div class="teacher_info">
                                            <img src="강사진소개/teacher_img/teacher1.png" alt="">
                                            <div class="teacher_name">Trainer. 남아름</div>
                                        </div>
                                </a>
                                    
                                <div class="say_it active">
                                    <p>풍부한 현장 경험을 바탕으로 여러분과 함께 커피의 매력에 빠져보고 싶습니다.</p>
                                </div>
                            </li>

                            <li>
                                <a href="#none">
                                    <div class="teacher_info">
                                        <img src="강사진소개/teacher_img/teacher2.png" alt="">
                                        <div class="teacher_name">Trainer. 임진영</div>
                                    </div>
                                </a>

                                <div class="say_it">
                                    <p class="">커피 한잔이 주는 여유를 즐기다 보면 행복감에 빠져들곤 합니다. 커피 한잔에 행복을 느끼시는 일이 많아 질 수 있도록 도와드리겠습니다.</p>
                                </div>
                            </li>


                            <li>
                                <a href="#none">
                                    <div class="teacher_info">
                                        <img src="강사진소개/teacher_img/teacher3.png" alt="">
                                        <div class="teacher_name">Trainer. 이수진</div>
                                    </div>
                                </a>

                                <div class="say_it">
                                    <p class="">매일 아침을 시작하고 지친 마음을 깨워주는 커피, 그 속에 커피가 가진 매력을 함께 나누고 싶습니다.</p>
                                </div>
                            </li>

                            <li>
                                <a href="#none">
                                    <div class="teacher_info">
                                        <img src="강사진소개/teacher_img/teacher4.png" alt="">
                                        <div class="teacher_name">Trainer. 임혜란</div>
                                    </div>
                                </a>

                                <div class="say_it">
                                    <p class="">바쁜 일상 속 쉼표처럼 마음의 위로가 되어주는 커피 한잔의 즐거움을 전해드리고 싶습니다.</p>
                                </div>
                            </li>

                            <li>
                                <a href="#none">
                                    <div class="teacher_info">
                                        <img src="강사진소개/teacher_img/teacher6.png" alt="">
                                        <div class="teacher_name">Trainer. 조은</div>
                                    </div>
                                </a>

                                <div class="say_it">
                                    <p class="">커피를 떠올리면 살포시 웃을 수 있는 좋은 기억을 담아갈 수 있도록 도와드리겠습니다.</p>
                                </div>
                            </li>

                            <li>
                                <a href="#none">
                                    <div class="teacher_info">
                                        <img src="강사진소개/teacher_img/teacher7.png" alt="">
                                        <div class="teacher_name">Trainer. 허재균</div>
                                    </div>
                                </a>

                                <div class="say_it">
                                    <p class="">커피라는 매개체로 여러분과 교감하고 소통하며 좋은 추억을 만들고 싶습니다.</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>

            <section class="sec_three space_intro">
                <div class="section_three_wrap">
                    <div class="space_intro_wrap">
                        <h3>시설소개</h3>

                        <div class="space_wrap">
                            <h4 class="screen_out">시설 메뉴들</h4>
            
                            <!-- 작은이미지들 -->
                            <ul class="space_menu">
                                <li>
                                    <a href="#none">CAFE_MOCHA</a>
                                    <div class="space_img_wrap">
                                        <a href="#none"><img src="시설소개/space_img_box/CAFE_MOCHA/image1.jpg" alt=""></a>
                                        <a href="#none"><img src="시설소개/space_img_box/CAFE_MOCHA/image2.jpg" alt=""></a>
                                        <a href="#none"><img src="시설소개/space_img_box/CAFE_MOCHA/image3.jpg" alt=""></a>
                                    </div>
                                </li>
                                <li>
                                    <a href="#none">CAPPUCCINO</a>
                                    <div class="space_img_wrap">
                                        <a href="#none"><img src="시설소개/space_img_box/CAPPUCCINO/image1.jpg" alt=""></a>
                                        <a href="#none"><img src="시설소개/space_img_box/CAPPUCCINO/image2.jpg" alt=""></a>
                                    </div>
                                </li>
                                <li>
                                    <a href="#none">ESPRESSO</a>
                                    <div class="space_img_wrap">
                                        <a href="#none"><img src="시설소개/space_img_box/ESPRESSO/image1.jpg" alt=""></a>
                                        <a href="#none"><img src="시설소개/space_img_box/ESPRESSO/image2.jpg" alt=""></a>
                                    </div>
                                </li>
                                <li>
                                    <a href="#none">라운지</a>
                                    <div class="space_img_wrap">
                                        <a href="#none"><img src="시설소개/space_img_box/라운지/image1.jpg" alt=""></a>
                                        <a href="#none"><img src="시설소개/space_img_box/라운지/image2.jpg" alt=""></a>
                                        <a href="#none"><img src="시설소개/space_img_box/라운지/image3.jpg" alt=""></a>
                                    </div>
                                </li>
                            </ul>
            
                            <div class="space_main_img">
                                <p>CCAFE MOCHA</p>
                                <img src="시설소개/space_img_box/CAFE_MOCHA/image1_2.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="sec_four Academy_path">
                <div class="section_four_wrap">

                </div>
            </section>
        </article>
    </main>
    <footer id="footer" class="footer"></footer>
</body>
</html>