.course .Coffee_Mania{
    height: 100%;
    border: 1px solid red;
}

.Coffee_Mania .locate_of_class{
    height: 70%;
    display: flex;

    border: 3px solid red;
}

/* 서울, 부산지역 */
.Coffee_Mania .locate_of_class .class_seoul,
.Coffee_Mania .locate_of_class .class_busan{
    width: 50%;
    height: 100%;
    border: 1px solid;
    padding: 10px;
}

.Coffee_Mania .locate_of_class .class_locate{
    height: 5%;

    border: 1px solid;
}
.Coffee_Mania .locate_of_class .class_intro{
    height: 20%;

    border: 1px solid;
    padding-top: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.Coffee_Mania .locate_of_class .class_table{
    height: 35%;

    border: 1px solid;
    padding: 10px 0;

    display: flex;
    justify-content: center;
    align-items: center;
}
.Coffee_Mania .locate_of_class .detail_course{
    height: 40%;

    border: 1px solid;
    padding: 40px 0;
} 


.Coffee_Mania .locate_of_class table th,
.Coffee_Mania .locate_of_class table td{
    padding: 5px;
    font-size: 0.9em;
}


.Coffee_Mania .locate_of_class table th,
.Coffee_Mania .locate_of_class table td{
    border: 1px solid;
}
.Coffee_Mania .locate_of_class .class_seoul .detail_course ul,
.Coffee_Mania .locate_of_class .class_busan .detail_course ul{
    display: flex;
    justify-content: space-between;
}

.Coffee_Mania .locate_of_class .class_seoul .detail_course ul li,
.Coffee_Mania .locate_of_class .class_busan .detail_course ul li{
    width: 121px;
    border: 1px solid;
}

.Coffee_Mania .locate_of_class .class_seoul .detail_course ul li .img_box,
.Coffee_Mania .locate_of_class .class_busan .detail_course ul li .img_box{
    position: relative;
    border: 1px solid;
    border-radius: 10px;
    overflow: hidden;
}

.Coffee_Mania .locate_of_class .class_seoul .detail_course ul li .img_box h6,
.Coffee_Mania .locate_of_class .class_busan .detail_course ul li .img_box h6{
    position: absolute;
}

.Coffee_Mania .locate_of_class .class_seoul .detail_course ul li .img_box img,
.Coffee_Mania .locate_of_class .class_busan .detail_course ul li .img_box img{
    width: 121px;
}