
.course .brista_string_1{
    border-bottom: 2px solid gray;
}

.brista_string_1 .class_intro{
    width: 80%;
    height: 15%;
    
    padding: 20px 0;
    margin: auto;

    display: flex;
    align-items: center;
}
/* table 해당 클래스 정보들 */
.brista_string_1 .class_table{
    width: 80%;
    height: 25%;

    margin: auto;

    display: flex;
    justify-content: center;
    align-items: center;
}
.brista_string_1 table{
    border-collapse: collapse;
}
.brista_string_1 table th,
.brista_string_1 table td{
    width: 12%;
    padding: 5px;
    
    border: 1px solid;
    text-align: center;
}
.brista_string_1 table th:nth-child(1),
.brista_string_1 table td:nth-child(1){
    width: 30%;
}
.brista_string_1 table th:nth-child(2),
.brista_string_1 table td:nth-child(2),
.brista_string_1 table th:nth-last-child(1),
.brista_string_1 table td:nth-last-child(1){
    width: 23%;
}
.brista_string_1 table th{

    font-size: 1.1em;

}
.brista_string_1 table td{
    height: 150px;

    font-size: 0.9em;
}

/* 상세 교육내용 */
.brista_string_1 .detail_course{
    width: 100%;
    height: 55%;

    margin-top: 40px;
}
.brista_string_1 .detail_course .detail_course_in_wrap{
    width: 80%;
    height: calc(100% - 40px);

    margin: auto;
    border-top: 1px solid lightgray;
}
/* 상세 교육 내용 큰 박스 */
.brista_string_1 .detail_course_in_wrap .detail_curiculum_txt_box{
    height: 15%;
    font-size: 2em;
    font-weight: 400;
    letter-spacing: -1px;

    display: flex;
    align-items: end;

    padding-top: 20px;
}
.brista_string_1 .detail_course_in_wrap .detail_curiculum_explain{
    height: 15%;
    font-size: 0.9em;
    font-weight: 400;

    display: flex;
    align-items: center;

    padding: 20px 0;
}
.brista_string_1 .detail_course_in_wrap .detail_curiculum_level{
    position: relative;
    width: 960px;
    height: 300px;

    display: flex;
    align-items: center;

    
    overflow: hidden;
}

/* 상세 교육내용 큰 박스내용 디테일 */
.brista_string_1 .detail_course .detail_curiculum_level .curiculum_show_ul{
    position: relative;

    width: 760px;
    height: 100%;
    margin: auto;
}
.brista_string_1 .detail_course .detail_curiculum_level .curiculum_show_ul ul{
    position: relative;
    top: 50%;

    transform: translate(0 ,-50%);

    width: calc(200% + 20px);
    height: 70%;


    display: flex;
    justify-content: space-between;
    gap: 20px;

    transition: 0.5s;
}

.brista_string_1 .detail_course ul li{
    top: 0;
    left: calc(var(--move_right) * 1px);

    width: 190px;
}

.brista_string_1 .detail_course ul li .img_box{
    position: relative;
    
    border-radius: 10px;
    overflow: hidden;
}

.brista_string_1 .detail_course ul li .img_box h6{
    position: absolute;
    top: 0;

    width: 50%;

    text-align: center;

    font-size: 1.3em;

    padding: 5px 0;
    border-bottom-right-radius: 10px;

    color: white;
    background: #00000070;

    backdrop-filter: blur(3px);
}

.brista_string_1 .detail_course ul li .img_box img{
    width: 190px;
}

.brista_string_1 .detail_course ul li>div:nth-child(2){
    padding: 5px;
    line-height: 20px;
}


.brista_string_1 .detail_course .detail_curiculum_level .prev{
    position: absolute;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(to right, rgb(255, 255, 255), rgba(0, 0, 0, 0));

    width: 70px;
    height: 100%;

    backdrop-filter: blur(5px);

    border:0;
}
.brista_string_1 .detail_course .detail_curiculum_level .next{
    position: absolute;
    right: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(to left, rgb(255, 255, 255), rgba(0, 0, 0, 0));

    width: 70px;
    height: 100%;

    backdrop-filter: blur(5px);

    border:0;
}

.brista_string_1 .detail_course .detail_curiculum_level .prev i,
.brista_string_1 .detail_course .detail_curiculum_level .next i{
    font-size: 4em;
    
    transition: 0.15s;
}
.brista_string_1 .detail_course .detail_curiculum_level .prev:hover i,
.brista_string_1 .detail_course .detail_curiculum_level .next:hover i{
    color: #c72f2f;
}