
.course .Espresso_Advance{
    border-bottom: 2px solid gray;
}

.Espresso_Advance .class_intro{
    width: 80%;
    height: 15%;
    
    padding: 20px 0;
    margin: auto;

    display: flex;
    align-items: center;
}
/* table 해당 클래스 정보들 */
.Espresso_Advance .class_table{
    width: 80%;
    height: 25%;

    margin: auto;

    display: flex;
    justify-content: center;
    align-items: center;
}
.Espresso_Advance table{
    border-collapse: collapse;
}
.Espresso_Advance table th,
.Espresso_Advance table td{
    width: 12%;
    padding: 5px;
    
    border: 1px solid;
    text-align: center;
}
.Espresso_Advance table th:nth-child(1),
.Espresso_Advance table td:nth-child(1){
    width: 30%;
}
.Espresso_Advance table th:nth-child(2),
.Espresso_Advance table td:nth-child(2),
.Espresso_Advance table th:nth-last-child(1),
.Espresso_Advance table td:nth-last-child(1){
    width: 23%;
}
.Espresso_Advance table th{

    font-size: 1.1em;

}
.Espresso_Advance table td{
    height: 150px;

    font-size: 0.9em;
}

/* 상세 교육내용 */
.Espresso_Advance .detail_course{
    width: 100%;
    height: 55%;

    margin-top: 40px;
}
.Espresso_Advance .detail_course .detail_course_in_wrap{
    width: 80%;
    height: calc(100% - 40px);

    margin: auto;
    border-top: 1px solid lightgray;
}
/* 상세 교육 내용 큰 박스 */
.Espresso_Advance .detail_course_in_wrap .detail_curiculum_txt_box{
    height: 15%;
    font-size: 2em;
    font-weight: 400;
    letter-spacing: -1px;

    display: flex;
    align-items: end;

    padding-top: 20px;
}
.Espresso_Advance .detail_course_in_wrap .detail_curiculum_explain{
    height: 15%;
    font-size: 0.9em;
    font-weight: 400;

    display: flex;
    align-items: center;

    padding: 20px 0;
}
.Espresso_Advance .detail_course_in_wrap .detail_curiculum_level{
    height: 70%;

    display: flex;
    align-items: center;

    padding: 20px 0;
}

/* 상세 교육내용 큰 박스내용 디테일 */

.Espresso_Advance .detail_course .detail_curiculum_level ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.Espresso_Advance .detail_course ul li{
    position: relative;
    width: 190px;
}

.Espresso_Advance .detail_course ul li .img_box{
    position: relative;
    
    border-radius: 10px;
    overflow: hidden;
}

.Espresso_Advance .detail_course ul li .img_box h6{
    position: absolute;
    top: 0;

    width: 50%;

    text-align: center;

    font-size: 1.3em;

    padding: 5px 0;
    border-bottom-right-radius: 10px;

    color: white;
    background: #00000070;

    backdrop-filter: blur(3px);
}

.Espresso_Advance .detail_course ul li .img_box img{
    width: 190px;
}

.Espresso_Advance .detail_course ul li>div:nth-child(2){
    padding: 5px;
    line-height: 20px;
}