<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>할리스 : 회원정보 관리</title>
    <link rel="stylesheet" href="../../../styles/reset.css" />
    <link rel="stylesheet" href="./my_info.css" />
  </head>
  <body>
    <main id="main" class="main">
      <section class="my_info--content_wrap">
        <h2>회원정보 관리</h2>
        <section class="my_info--content">
          <section class="my_info--desc">
            <p>
              고객님의 정보를 안전하게 보호하기 위해서 비밀번호를 다시 한 번
              확인해 주세요.
            </p>
          </section>
          <form action="" method="post">
            <p>
              <span>아이디</span>
              <span>아이디, 아..</span>
            </p>
            <p>
              <span>비밀번호</span>
              <input type="password" />
            </p>
          </form>
        </section>
      </section>
    </main>
  </body>
</html>
