/* 달력 */
main .sec_two .class_planner .plan__planner{
    border-top: 1px solid;
    border-bottom: 1px solid;
}
main .sec_two .class_planner .plan__planner .planner{
    width: 100%;
}

/* 달 */
.plan__planner .planner .year_month{
    position: relative;
}
.plan__planner .planner .year_month .month{
    width: 100%;
    font-size: 5em;
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
}
.plan__planner .planner .year_month .month a{
    position: relative;
    top: 5px;
    height: 60px;
    display: flex;
    align-items: center;
}
.plan__planner .planner .year_month .month a:hover,
.plan__planner .planner .year_month .year a:hover
{
    border: 0;
    text-shadow: 0 0 3px black;
}
.plan__planner .planner .year_month .month span{
    padding: 10px 20px;
    font-weight: 800;
}

/* 년 */
.plan__planner .planner .year_month .year{
    position: absolute;
    left: 20px;
    bottom: 20px;
    width: 100%;
    font-size: 1.2em;
}

/* 요일 */
.plan__planner .planner .date__days .days ul{
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}
.plan__planner .planner .date__days .days ul li{
    width: 100%;
    text-align: center;
    font-size: 0.8em;
}

/* 일 */
.plan__planner .planner .date__days .date table{
    width: 100%;
    border-collapse: collapse;
}
.plan__planner .planner .date__days .date td{
    position: relative;
    height: 91px;
    border: 1px solid rgba(128, 128, 128, 0.342);
}
.plan__planner .planner .date__days .date td:hover{
    background: rgb(248, 248, 248);
}
.plan__planner .planner .date__days .date td:nth-child(1){
    border-left: 1px solid white;
}
.plan__planner .planner .date__days .date td:nth-last-child(1){
    border-right: 1px solid white;
}
.plan__planner .planner .date__days .date td span{
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 0.85em;
    letter-spacing: -2px;
    color: rgb(83, 83, 83);
    font-family: 나눔고딕, NanumGothic, ng, 돋움, arial, helvetica, sans-serif !important;
}