header{
    width: 100%;
    min-width: 940px;
    margin: auto;
    height: 148px;
    border: 1px solid;
}
/*********** main ***********/
main{
    width: 940px;
    margin: auto;
    padding: 40px 0;
    display: flex;
    justify-content: center;
}

/************** sec_two *************/
main .sec_two{
    position: relative;
    width: 700px;
    transition: 0.5s;
    z-index: 1;
    background: white;
}
main .sec_two .page_intro{
    width: 100%;
    margin-bottom: 30px;
}
main .sec_two .page_intro .page_path{
    font-size: 0.75em;
    color: gray;
    padding: 15px 0;

}
main .sec_two .page_intro h2{
    font-size: 2.2em;
    padding: 5px 0;
    letter-spacing: -2px;
}
main .sec_two .page_intro p:nth-child(3){
    font-size: 0.8em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    letter-spacing: -1px;
    color: gray;
}

/* 할리스카드 관련 */
main .sec_two .guide{
    width: 700px;
}
/* 이미지설명 */
main .sec_two .guide .guide_card_img{
    position: relative;
    min-height: 383px;
    display: flex;
}
main .sec_two .guide .guide_card_img section a{
    position: relative;
    display: block;
    color: #2e2e2e;
    background: transparent;
    width: 146px;
    padding: 5px 20px;
    margin: 0;
}
main .sec_two .guide .guide_card_img section a::before{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    content: '';
    height: 50%;
    border-right: 1px solid rgb(155, 155, 155);
}
main .sec_two .guide .guide_card_img section:nth-last-child(1) a::before{
    border: 0;
}
main .sec_two .guide .guide_card_img section .img_box{
    position: absolute;
    width: 700px;
    top: 28px;
    left: 50%;
    transform: translateX(-50%);
    border-top: 1px solid rgb(199,47,48);
    border-bottom: 1px solid rgb(199,47,48);
    background: white;
}
main .sec_two .guide .guide_card_img section .img_box img{
    display: block;
    margin: auto;
}

main .sec_two .guide .guide_card_img .btn_color{
    position: absolute;
    left: 0;
    width: 146px;
    height: 28px;
    background: rgb(199,47,48);
}

/* 글설명 */
main .sec_two .guide .guide_card_text{
    margin-top: 30px;
}
main .sec_two .guide .guide_card_text .card_text_guide>div{
    padding: 10px 0 ;
}
main .sec_two .guide .guide_card_text .card_text_guide>div h4{
    color: rgb(51, 51, 51);
    font-size: 1.3em;
}
main .sec_two .guide .guide_card_text .card_text_guide>div ul{
    font-size: 0.84em;
    font-weight: 300;
}
main .sec_two .guide .guide_card_text .card_text_guide>div ul li{
    position: relative;
    margin-left:20px ;
    letter-spacing: -1px;
    line-height: 20px;
    color: rgb(80, 80, 80);
    
}
main .sec_two .guide .guide_card_text .card_text_guide>div ul li::before{
    content: '';
    position: absolute;
    top: 50%;
    left: -20px;
    transform: translateY(-50%);
    border-radius: 50%;
}

/* 구매하기 환불하기 버튼 */
main .sec_two .guide .button_wrap{
    padding: 50px;
    display: flex;
    justify-content: center;
}
main .sec_two .guide a{
    padding: 10px 20px;
    margin: 0 15px;
    cursor: pointer;
}
main .sec_two .guide a:hover{
    box-shadow: 0 0 2px black;
}
main .sec_two .guide a:nth-child(1){
    background: rgb(199,47,48);
    color: #fff;
    font-weight: 800;
    border: 0;
}
main .sec_two .guide a:nth-child(2){
    background: lightgray;
    color: #000;
    font-weight: 800;
    border: 0;
}
/*********************footer*******************/
footer{
    width: 100%;
    height: 300px;
    
    border: 1px solid;
}


