.sec_two .course_guide_wrap{
    position: relative;
    width: 100%;
}
/* 메뉴 ul */
.sec_two .course_guide_wrap .menu_ul{
    
    display: flex;
    justify-content: space-between;

    transition: 0.5s;
}
.sec_two .course_guide_wrap .menu_ul li{
    width: 100%;

    padding: 10px 10px;
    border: 1px solid;

    font-size: 0.8em;

    text-align: center;
}

/* 슬라이더 ul */
.sec_two .course_guide_wrap .show_ul{
    overflow: hidden; 
    border: 1px solid red;
}
.sec_two .course_guide_wrap .show_ul .move_ul{
    position: relative;
    width: 900%;

    display: flex;
    justify-content: space-between;

    transition: 0.5s;

}
.sec_two .course_guide_wrap .move_ul>li{
    width: 100%;
}
.sec_two .course_guide_wrap .move_ul>li .course{
    height: 100%;
    padding-top: 50px;
    border: 1px solid blue;
}
.sec_two .course_guide_wrap .move_ul>li .course *{
    box-sizing: border-box;
}


.sec_two .course_guide_wrap .move_ul>li a{
    position: absolute;
    left: calc(1px*var(--left_move));

    width: 150px;

    padding: 10px 0;
    border: 1px solid;

    text-align: center;

    font-size: 0.8em;
}
.sec_two .course_guide_wrap .course h4{
    font-size: 1.8em;
    font-weight: 400;

    border-bottom: 2px solid gray;
    padding-bottom: 5px;
}
