.sec_two .course_guide_wrap{
    position: relative;
    width: 100%;
}
/* 메뉴 ul */
.sec_two .course_guide_wrap .menu_ul{
    margin-top: 20px;
    
    display: flex;
    justify-content: space-between;

    transition: 0.5s;
}
.sec_two .course_guide_wrap .menu_ul li{
    width: 100%;

    padding: 10px 10px;
    border: 1px solid;

    font-size: 0.8em;

    text-align: center;
}

/* 슬라이더 ul */
.sec_two .course_guide_wrap .show_ul{
     overflow: hidden; 
}
.sec_two .course_guide_wrap .show_ul .move_ul{
    position: relative;
    width: 900%;

    display: flex;
    justify-content: space-between;

    transition: 0.5s;

}
.sec_two .course_guide_wrap .move_ul>li{
    width: 100%;
}
.sec_two .course_guide_wrap .move_ul>li .course{
    margin-top: 50px;
}
.sec_two .course_guide_wrap .move_ul>li a{
    position: absolute;
    left: calc(1px*var(--left_move));

    width: 150px;

    padding: 10px 0;
    border: 1px solid;

    text-align: center;

    font-size: 0.8em;
}
.sec_two .course_guide_wrap .move_ul>li>div{
    padding-top: 39.09px;
    width: 1200px;
}
.sec_two .course_guide_wrap .course h4{
    font-size: 1.8em;
    font-weight: 400;

    border-bottom: 2px solid gray;
    padding-bottom: 5px;
}
.sec_two .course_guide_wrap .Coffee_holic{
    width: 80%;
    margin: auto;
}
.sec_two .course_guide_wrap .Coffee_holic>p{
    padding: 10px 0;
    margin-top: 50px;
}

/* table */
.sec_two .course_guide_wrap .Coffee_holic table{
    width: 100%;
    height: 200px;
    border-collapse: collapse;
}
.sec_two .course_guide_wrap .Coffee_holic table th,
.sec_two .course_guide_wrap .Coffee_holic table td{

    width: 20%;
    padding: 5px 10px;
    border: 1px solid;


    text-align: center;
}

/* detail course */
.sec_two .course_guide_wrap .Coffee_holic .detail_course{
    margin-top: 100px;
}
.sec_two .course_guide_wrap .Coffee_holic .detail_course h5{
    width: 100%;

    font-size: 1.5em;
    font-weight: 700;
}
.sec_two .course_guide_wrap .Coffee_holic .detail_course p{
    padding-top: 2px;
    padding-left: 2px;
}

.sec_two .course_guide_wrap .Coffee_holic .detail_course ul{
    width: 100%;

    margin: 30px auto 0;

    display: flex;
    justify-content: space-between;

    font-size: 1em;
}

.sec_two .course_guide_wrap .Coffee_holic .detail_course ul li{
    width: 25%;
    line-height: 20px;
}
.sec_two .course_guide_wrap .Coffee_holic .detail_course ul li .img_box{
    position: relative;

    width: 80%;
    height: 70%;

    margin: auto;

    border-radius: 20px;
    overflow: hidden;
}
.sec_two .course_guide_wrap .Coffee_holic .detail_course ul li .img_box h6{
    position: absolute;
    top: 0;

    width: 50%;

    text-align: center;

    font-size: 1.3em;

    padding: 10px 0;
    border-bottom-right-radius: 10px;

    color: white;
    background: #00000070;

    backdrop-filter: blur(3px);
}

.sec_two .course_guide_wrap .Coffee_holic .detail_course ul li .img_box img{
    width: 100%;
    height: 100%;
}

.sec_two .course_guide_wrap .Coffee_holic .detail_course ul li>div:nth-child(2){
    width: 80%;
    height: 30%;
    
    display: flex;
    flex-direction: column;

    font-size: 0.9em;

    padding-left: 10px;
    padding-top: 5px;
    margin: auto;
}
.sec_two .course_guide_wrap .Coffee_holic .detail_course ul li>div span{
    width: 100%;
}
.sec_two .course_guide_wrap>ul>li .btn_apply{
    position: absolute;
    bottom: 0;
}

.sec_two .course_guide_wrap>a{
    position: relative;

    display: block;

    top:50px;
    left: 50%;

    width: 13%;

    transform: translateX(-50%);

    border: 1px solid;
    padding: 10px 30px;
    margin: 20px 0;

    font-size: 1.6em;
}