
/************** sec_two *************/
main .sec_two{
    position: relative;
    width: 1200px;
    background: white;

    transition: 0.5s;
    padding: 0 10px;
    margin:  auto;
    border: 1px solid;
}
main .sec_two .sec_two_container{
    margin: 20px 0;
    padding: 80px 0;
}
main .sec_two .page_intro{
    width: 100%;
    border-bottom: 1px solid lightgray;
}
main .sec_two .page_intro .page_path{
    font-size: 0.75em;
    color: gray;
    padding: 15px 0;
}
main .sec_two .page_intro h2{
    font-size: 2.2em;
    padding: 5px 0;
    letter-spacing: -2px;
}

main .sec_two .sec_two_content{
    display: flex;
    flex-direction: column;
}