.sec_two .course_guide_wrap{
    position: relative;
    width: 100%;
}
/* 메뉴 ul */

.sec_two .course_guide_wrap .menu_ul{
    
    display: flex;
    justify-content: space-between;

    transition: 0.5s;
}
.sec_two .course_guide_wrap .menu_ul li{
    position: relative;
    width: 100%;

    padding: 10px 10px;
    border: 1px solid lightgray;

    font-size: 0.8em;

    text-align: center;
    z-index: 1;
}
.sec_two .course_guide_wrap .menu_ul li:nth-child(1){
    border-left: 0;
}
.sec_two .course_guide_wrap .menu_ul li:nth-last-child(1){
    border-right: 0;
}

.sec_two .course_guide_wrap .menu_ul li a{
    transition: 0.5s;
}
/* 메뉴 ul 움직이는 백그라운드 색 */
.sec_two .course_guide_wrap>.btn_bg{
    position: absolute;
    top: 0;

    width: 150px;
    height:38px ;

    background: #c72f2f;

    transition: 0.5s;
}


/* 슬라이더 ul */
.sec_two .course_guide_wrap .show_ul{
    overflow: hidden; 
}
.sec_two .course_guide_wrap .show_ul .move_ul{
    position: relative;
    width: 900%;

    display: flex;
    justify-content: space-between;

    transition: 0.5s;
}
.sec_two .course_guide_wrap .move_ul>li{
    width: 100%;
}
.sec_two .course_guide_wrap .move_ul>li .course{
    height: 100%;
    padding-top: 50px;
}
.sec_two .course_guide_wrap .move_ul>li .course *{
    box-sizing: border-box;
}


.sec_two .course_guide_wrap .move_ul>li a{
    position: absolute;
    left: calc(1px*var(--left_move));

    width: 150px;

    padding: 10px 0;
    border: 1px solid;

    text-align: center;

    font-size: 0.8em;
}


.sec_two .course_guide_wrap .course h4{
    font-size: 1.8em;
    font-weight: 400;

    border-bottom: 2px solid gray;
    padding-bottom: 5px;
}
