@font-face {
    font-family: 'MICEGothic Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-01@1.0/MICEGothic Bold.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

/* 임시reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
ul,ul li{
    list-style: none;
}
h1,h2,h3,h5,h6,a,p,td{
    font-family: 'MICEGothic Bold', 나눔고딕, NanumGothic, ng, 돋움, arial, helvetica, sans-serif !important;
}
a,p,td{
    font-weight: 400;
    font-family: 나눔고딕, NanumGothic, ng, 돋움, 'MICEGothic Bold', arial, helvetica, sans-serif !important;

}
a{
    text-decoration: none;
}
.screen_out{
    display: none;
    text-indent: -99999999px;
}