<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../styles/reset.css">
    <link rel="stylesheet" href="../header_main_footer.css">
    
    <title>회원가입</title>
</head>
<body>
    <header></header>
    <main>
        <article class="sign_up_wrap">
            <section class="sign_up_text section_one">
                <h2>회원가입</h2>
            </section>

            <section class="general_conditions_agree section_two">
                <h3>약관동의</h3>

                <form action="#" method="get" name="agree_wrap">
                    <ul>
                        <li>
                            <input type="checkbox" id="">
                            <label for="">동의내용(필수/선택)</label>
                            <a href="#none">></a><!-- font-awesome 으로 바꾸기 -->
                        </li>

                        <li>
                            <input type="checkbox" id="">
                            <label for="">동의내용(필수/선택)</label>
                            <a href="#none">></a><!-- font-awesome 으로 바꾸기 -->
                        </li>

                        <li>
                            <input type="checkbox" id="">
                            <label for="">동의내용(필수/선택)</label>
                            <a href="#none">></a><!-- font-awesome 으로 바꾸기 -->
                        </li>

                        <li>
                            <input type="checkbox" id="">
                            <label for="">동의내용(필수/선택)</label>
                            <a href="#none">></a><!-- font-awesome 으로 바꾸기 -->
                        </li>

                        <li>
                            <input type="checkbox" id="">
                            <label for="">동의내용(필수/선택)</label>
                            <a href="#none">></a><!-- font-awesome 으로 바꾸기 -->
                        </li>

                        <li>
                            <input type="checkbox" id="">
                            <label for="">동의내용(필수/선택)</label>
                            <a href="#none">></a><!-- font-awesome 으로 바꾸기 -->
                        </li>

                        <li>
                            <input type="checkbox" id="">
                            <label for="">동의내용(필수/선택)</label>
                            <a href="#none">></a><!-- font-awesome 으로 바꾸기 -->
                        </li>

                        <li>
                            <ul>
                                <li>
                                    <input type="checkbox" id="">
                                    <label for="">동의내용(필수/선택)</label>
                                </li>

                                <li>
                                    <input type="checkbox" id="">
                                    <label for="">동의내용(필수/선택)</label>
                                </li>

                                <li>
                                    <input type="checkbox" id="">
                                    <label for="">동의내용(필수/선택)</label>
                                </li>

                                <li>
                                    <input type="checkbox" id="">
                                    <label for="">동의내용(필수/선택)</label>
                                </li>

                            </ul>
                        </li>

                    </ul>
                </form>

                <a href="#none">다음</a>
            </section>
        </article>
    </main>
    <footer></footer>
</body>
</html>