/* reset */
body,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
section,
div,
main,
a,
img,
span,
input {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}

/* main */
main {
  position: relative;
}

/* lnb */
.lnb {
  width: 240px;
  font-size: 24px;
  font-weight: 500;
}
.lnb li {
  width: 240px;
}
.lnb li :hover {
  width: 240px;
  color: #c72f30;
}

/* drink content */
.drink_content--wrap {
  width: 940px;
  margin: 0 auto;
  display: flex;
}

.drink_content h2 {
  font-size: 28px;
  margin-bottom: 20px;
}
.drink_category--wrap {
  width: 700px;
  margin-bottom: 30px;
  padding: 10px 20px;
  border: 1px solid black;
  box-sizing: border-box;
}
.drink_category--wrap h3 {
  border-bottom: 1px solid black;
  padding: 10px;
}
.drink_category {
  display: flex;
  justify-content: space-around;
}
.drink_category label {
  padding: 5px;
  cursor: pointer;
}
.drink_category label:hover {
  color: #999;
}
.drink_category li {
  margin-right: 10px;
}

/* drink list */
.drink_list--wrap {
  width: 700px;
}
.drink_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px 0;
}
.drink_list li {
  margin-bottom: 10px;
  margin-right: 10px;
  font-size: 16px;
}
.drink_list li:hover {
  scale: 1.1;
  color: #999;
}
.drink_list a {
  width: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.drink_list span {
  text-align: center;
  word-wrap: break-word;
}
.drink_list img {
  width: 160px;
}

.blank_item {
  width: 160px;
}

/* drink detail */
.drink_detail--wrap {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
}
.drink_detail {
  position: fixed;
  top: 50px;
  left: 30%;
  width: 700px;
  height: 900px;
  background: white;
}
