/* reset */
body,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
section,
div,
main,
a,
img,
span {
  margin: 0;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}

/* main */
.drink_list {
  display: flex;
  flex-wrap: wrap;
}
