/* reset */
body,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
section,
div,
main,
a,
img,
span {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}

/* main */
main {
  position: relative;
}

/* content */
.content_wrap {
  width: 940px;
  margin: 0 auto;
  display: flex;
}
.lnb {
  width: 240px;
}
.content_wrap h2 {
  margin-bottom: 20px;
}
.content_category--wrap {
  border: 1px solid black;
  box-sizing: border-box;
  margin-bottom: 30px;
}
.content_category {
  display: flex;
  justify-content: space-around;
}
.content_category li {
  margin-right: 10px;
}

/* content list */
.drink_list--wrap {
  width: 700px;
}
.drink_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px 0;
}
.drink_list li {
  margin-bottom: 10px;
  margin-right: 10px;
  font-size: 16px;
}
.drink_list a {
  width: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.drink_list span {
  text-align: center;
  word-wrap: break-word;
}
.drink_list img {
  width: 160px;
}

/* drink desc */

/* lnb */
