header{
    width: 100%;
    min-width: 940px;
    margin: auto;
    height: 148px;
    border: 1px solid;
}
/*********** main ***********/
main{
    width: 940px;
    margin: auto;
    padding: 40px 0;
    display: flex;
    justify-content: center;
}

/************** sec_two *************/
main .sec_two{
    position: relative;
    width: 700px;
    transition: 0.5s;
    z-index: 1;
    background: white;
}
main .sec_two .page_intro{
    width: 100%;
    margin-bottom: 30px;
}
main .sec_two .page_intro .page_path{
    font-size: 0.75em;
    color: gray;
    padding: 15px 0;

}
main .sec_two .page_intro h2{
    font-size: 2.2em;
    padding: 5px 0;
    letter-spacing: -2px;
}

main .sec_two .teacher_wrap{
    width: 100%;
}

main .sec_two .teacher_wrap ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
}
main .sec_two .teacher_wrap ul li{
    width: 30%;
    height: 300px;
    box-shadow: 0 0 2px rgb(199, 47, 48);
    margin-bottom: 20px;
    border-radius: 5px;
}

/* 트레이너 카드 이미지 */
main .sec_two .teacher_wrap ul li .imgbox{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .sec_two .teacher_wrap ul li .imgbox img{
    padding: 10px;
}


main .sec_two .teacher_wrap ul li .trainer_info{
    height: 50%;
    position: relative;
    width: 100%;
    height: 50%;
    overflow: hidden;
}
/* 카드정보 나타내는 곳 */
main .sec_two .teacher_wrap ul li .trainer_info .trainer_info_wrap{
    width: 100%;
    height: 100%;
    transition: 0.5s;
}

/* 트레이너 카드정보 */
main .sec_two .teacher_wrap ul li .Trainer_name{
    height: 30%;
    width: 100%;
    color: black;
    background: transparent;
    display: flex;
    align-items: center;
}
main .sec_two .teacher_wrap ul li .Trainer_name p{
    position: relative;
    left: 10px;
    border-radius: 50px;
    padding: 1px 0;
    font-family: none;
    font-weight: 800;
    font-size: 0.9em;
}

main .sec_two .teacher_wrap ul li .say_it{
    width: 100%;
}
main .sec_two .teacher_wrap ul li .say_it p{
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 0.7em;
    color: gray
}
/*********************footer*******************/
footer{
    width: 100%;
    height: 300px;
    
    border: 1px solid;
}


