header{
    width: 100%;
    min-width: 940px;
    margin: auto;
    height: 148px;
    border: 1px solid;
}
/*********** main ***********/
main{
    width: 940px;
    margin: auto;
    padding: 40px 0;
    display: flex;
    justify-content: center;
}



/********************section_one(lnb)********************/
main .sec_one{
    width: 220px;
    padding-right: 20px;
    transition: 0.5s;
}
/* lnb큰제목 */
main .sec_one .sec_one_wrap .guide_wrap h3{
    font-size: 1.34em;
    letter-spacing: -1px;
}
main .sec_one_wrap .guide_wrap{
    margin-bottom: 40px;
}
main .sec_one_wrap .guide_wrap>ul>li{
    padding-bottom: 10px;
    position: relative;
}
main .sec_one_wrap .guide_wrap>ul>li>a{
    color: rgb(199, 47, 48);
    text-decoration: none;
}
main .sec_one_wrap .guide_wrap>ul>li ul{
    display: none;
    height: 0;
    overflow: hidden;
}
main .sec_one_wrap .guide_wrap>ul>li ul.active{
    display: block;
    height: 70px;
}

main .sec_one_wrap .guide_wrap>ul>li ul a{
    font-size: 0.9em;
}

/* event */
main .sec_one .sec_one_wrap .event h2 {
    font-size: 1em ;
    letter-spacing: -1px;
}
main .sec_one .sec_one_wrap .event h2 a{
    color: rgb(80, 80, 80);
}
main .sec_one .sec_one_wrap .event p{
    font-size: 0.8em ;
    letter-spacing: -1px;
}

/* img_box */
main .sec_one .sec_one_wrap .event .img_box{
    width: 190px;
}
main .sec_one .sec_one_wrap .event .img_box a{
    display: block;
    width: 100%;
    padding: 30px 10px 30px 0;
}
main .sec_one .sec_one_wrap .event .img_box a:hover{
    border: 0;
}
main .sec_one .sec_one_wrap .event .img_box a img{
    width: 100%;
    padding-bottom: 30px;
    border-bottom: 1px solid lightgray;
}


/************** sec_two *************/
main .sec_two{
    position: relative;
    width: 700px;
    transition: 0.5s;
    z-index: 1;
    background: white;
}
main .sec_two .page_intro{
    width: 100%;
    margin-bottom: 30px;
}
main .sec_two .page_intro .page_path{
    font-size: 0.75em;
    color: gray;
    padding: 15px 0;

}
main .sec_two .page_intro h2{
    font-size: 2.2em;
    padding: 5px 0;
    letter-spacing: -2px;
}

/* 개강일정 관련 */
main .sec_two .class_planner{
    width: 100%;
}
main .sec_two .class_planner .button_wrap{
    display: flex;
    font-size: 0.95em;
    margin-bottom: 10px;

}
main .sec_two .class_planner .button_wrap a{
    position: relative;
    margin-right: 50px;
}
main .sec_two .class_planner .button_wrap a::before{
    position: absolute;
    content: '▼';
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0.6em;

}
main .sec_two .class_planner .button_wrap a:hover{
    border: 0;
    text-decoration: underline;
}

/* 달력 */
main .sec_two .class_planner .plan__planner{
    border-top: 1px solid;
    border-bottom: 1px solid;
}
main .sec_two .class_planner .plan__planner .planner{
    width: 100%;
}

/* 달 */
.plan__planner .planner .year_month{
    position: relative;
}
.plan__planner .planner .year_month .month{
    width: 100%;
    font-size: 5em;
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
}
.plan__planner .planner .year_month .month a{
    position: relative;
    top: 5px;
    height: 60px;
    display: flex;
    align-items: center;
}
.plan__planner .planner .year_month .month a:hover,
.plan__planner .planner .year_month .year a:hover
{
    border: 0;
    text-shadow: 0 0 3px black;
}
.plan__planner .planner .year_month .month span{
    padding: 10px 20px;
    font-weight: 800;
}

/* 년 */
.plan__planner .planner .year_month .year{
    position: absolute;
    left: 20px;
    bottom: 20px;
    width: 100%;
    font-size: 1.2em;
}

/* 요일 */
.plan__planner .planner .date__days .days ul{
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}
.plan__planner .planner .date__days .days ul li{
    width: 100%;
    text-align: center;
    font-size: 0.8em;
}

/* 일 */
.plan__planner .planner .date__days .date table{
    width: 100%;
    border-collapse: collapse;
}
.plan__planner .planner .date__days .date td{
    position: relative;
    height: 91px;
    border: 1px solid rgba(128, 128, 128, 0.342);
}
.plan__planner .planner .date__days .date td:nth-child(1){
    border-left: 1px solid white;
}
.plan__planner .planner .date__days .date td:nth-last-child(1){
    border-right: 1px solid white;
}
.plan__planner .planner .date__days .date td span{
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 0.85em;
    letter-spacing: -2px;
    color: rgb(83, 83, 83);
    font-family: 나눔고딕, NanumGothic, ng, 돋움, arial, helvetica, sans-serif !important;
}
/*********************footer*******************/
footer{
    width: 100%;
    height: 300px;
    
    border: 1px solid;
}


