footer{
    position: relative;
    width: 100%;
    min-width: 1169px;
    height: 200px;
    background: rgb(68, 68, 68);
    border-top: 1px solid white;
    display: flex;
    justify-content: space-between;
}
footer a{
    text-decoration: none;
}
footer ul{
    list-style: none;
}

footer .site_service h2{
    display: none;
}
/*****************footer 왼쪽********************/
footer .footer_left{
    position: relative;
    top: 40px;
    left: 60px;
    width: 35%;
    height: 0;
    color: white;
}
/******************footer 오른쪽******************/
footer .footer_right{
    width: 50%;
    height: 100%;
}
                            /*footer오른쪽 위*/
footer .footer_right .site_service{
    width: 100%;
    height: 50%;
}
footer .footer_right .site_service ul{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
footer .footer_right .site_service ul li{
    font-size: 0.9em;
    padding: 0 30px;
    border-right: 1px solid white;
}
footer .footer_right .site_service ul li a{
    color: white;
}

footer .footer_right .site_service ul li:nth-child(5){
    border: 0;
}
footer .footer_right .SNS{
    width: 100%;
}
footer .footer_right .SNS ul{
    display: flex;
    justify-content: right;
    margin-right: 30px;
    gap: 20px;
}
