/*   박주현  */
@font-face {
    font-family: 'Arita-buri-SemiBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Arita-buri-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

header{
    position: relative;
    width: 1080px;
    height: 126px;
    margin: auto;
    font-family: 'Arita-buri-SemiBold';
    z-index: 1;
}
    /*********logo***********/
header .IMG_border{
    width: 1080px;
    padding: 5px;
    padding-top: 10px;
    text-align: center;
}
header .IMG_border img{
    width: 294px;
    height: 60px;
}

    /*********gnb*********/
header nav{
    width: 1080px;
    padding: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
}
header nav .static_gnb{
    list-style: none;
}
header nav .static_gnb li{
    position: relative;
    margin-right : 50px;
    display: inline-block;
}
header nav .static_gnb li a:hover::before{
    position: absolute;
    top: 30px;
    content: '';
    width: 100%;
    border-radius: 30px;
    border: 1px solid red;
}

/* scroll gnb */
header nav .move_gnb{
    position: fixed;
    top: -99999px;
    left: 0;
    height: 84px;
    padding: 10px;
    width: 100vw;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    box-shadow: 0 1px 3px gray;
}
header nav .move_gnb li{
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
}
header nav .move_gnb li a:hover::before{
    position: absolute;
    top: 70px;
    width: 100%;
    content: '';
    border-radius: 30px;
    border: 1px solid red;
}
header nav .move_gnb li:nth-child(1) a:hover::before{
    border: 0;
}

/*gnb a*/
header nav ul li a{
    text-decoration: none;
    font-size: 1.22em;
    color: rgb(82, 78, 78);
}
header nav ul li a:hover{
        color: rgb(177, 177, 177);
}


/*gnb button*/
header nav ul li button{
    background: 0;
    border: 0;
    font-size: 1.125em;
}
header nav ul li button i:hover{
    color: rgb(177, 177, 177);
    cursor: pointer;
}