@font-face {
    font-family: 'LotteMartHappy';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartHappy/LotteMartHappyMedium.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartHappy/LotteMartHappyMedium.woff') format('woff');
  }
a{
    text-decoration: none;
    color: white;
}
main{
    position: relative;
    width: 100%;
    height: 400vh;
    margin-top: 5px;
}
main section{
    position: relative;
    width: 100%;
    height: 80vh;
}
                        /*section 백그라운드 전체*/
main section .backg{
    position: relative;
    width: 100%;
    height: 100%;
}
/****************************첫번째 백그라운드********************************/
main .event_one .bg_one{
    position: relative;
    width: 100%;
    height: 100%;
    background: url(images/canadadr_-recip1440x900.jpg) no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}
                                /*첫번째 백그라운드 소개글*/
main .event_one .bg_one_intro{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 5%;
    left: 10%;
    width: 500px;
    height: 30%;
    color: white;
    gap: 20px;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.575);
    font-weight: 1000;
    font-size: 1.4em ;
}
                                                    /*글씨 묶음 a 제외*/
main .event_one .bg_one_intro .bg_one_intro_wrap{
    line-height: 35px;
}
                                    /*더보기 묶음*/
main .event_one .bg_one_intro>p{
    width: 150px;
}
                                    /*더보기 커서 갖다댈시 애니메이션 */
main .event_one .bg_one_intro p:hover i{
    animation: animate 1s infinite alternate ease-in-out;
    cursor: pointer;
}

@keyframes animate{ /*더보기 애니메이션*/ 
    100%{
        transform: translateX(10px);
    }
}
/****************************두번째 백그라운드******************************/
main .event_two .bg_two{
    position: relative;
    width: 100%;
    height: 100%;
    background: url(images/cola_company_794x473.jpg) no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}
                                /*두번째 백그라운드 소개글*/
main .event_two .bg_two_intro{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 5%;
    right: 10%;
    width: 500px;
    height: 30%;
    color: white;
    gap: 20px;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.575);
    font-weight: 1000;
    font-size: 1.4em ;
}
                                                    /*글씨 묶음 a 제외*/
main .event_two .bg_two_intro .bg_two_intro_wrap{
    line-height: 35px;
}
                                    /*더보기 묶음*/
main .event_two .bg_two_intro>p{
    width: 150px;
}
                                    /*더보기 커서 갖다댈시 애니메이션 */
main .event_two .bg_two_intro p:hover i{
    animation: animate 1s infinite alternate ease-in-out;
    cursor: pointer;
}
/*******************************세번째 백그라운드*********************************/
main .bg_three_intro_wrap a{
    color: black;
}
main .event_three .bg_three{
    position: relative;
    width: 100%;
    height: 100%;
    background: url(images/coca_cola_bottles1440x900.png) no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}
                                /*세번째 백그라운드 소개글*/
main .event_three .bg_three_intro{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 5%;
    right: 10%;
    width: 500px;
    height: 30%;
    gap: 20px;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.575);
    font-weight: 1000;
    font-size: 1.4em ;
}
                                                    /*글씨 묶음 a 제외*/
main .event_three .bg_three_intro .bg_three_intro_wrap{
    line-height: 35px;
}
                                    /*더보기 묶음*/
main .event_three .bg_three_intro>p{
    width: 150px;
}
                                    /*더보기 커서 갖다댈시 애니메이션 */
main .event_three .bg_three_intro p:hover i{
    animation: animate 1s infinite alternate ease-in-out;
    cursor: pointer;
}
 /*******************************네번째 백그라운드*********************************/
 main .event_four .bg_four{
    position: relative;
    width: 100%;
    height: 100%;
    background: url(images/onethepl_goods1440x480.jpg) no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}
                            /*네번째 백그라운드 소개글*/
main .event_four .bg_four_intro{
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 5%;
    right: 10%;
    width: 500px;
    height: 30%;
    color: white;
    gap: 20px;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.575);
    font-weight: 1000;
    font-size: 1.4em ;
}
                                                    /*글씨 묶음 a 제외*/
main .event_four .bg_four_intro .bg_four_intro_wrap{
    line-height: 35px;
}
                                    /*더보기 묶음*/
main .event_four .bg_four_intro>p{
    width: 150px;
}
                                    /*더보기 커서 갖다댈시 애니메이션 */
main .event_four .bg_four_intro p:hover i{
    animation: animate 1s infinite alternate ease-in-out;
    cursor: pointer;
}
/*******************************다섯번째 백그라운드*********************************/
main .event_five .bg_five{
    position: relative;
    width: 100%;
    height: 100%;
    background: url(images/Kokkokkok_1440x900.jpg) no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}
                                /*네번째 백그라운드 소개글*/
main .event_five .bg_five_intro{
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 5%;
    left: 10%;
    width: 500px;
    height: 30%;
    color: white;
    gap: 20px;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.575);
    font-weight: 1000;
    font-size: 1.4em ;
}
                                                    /*글씨 묶음 a 제외*/
main .event_five .bg_five_intro .bg_five_intro_wrap{
    line-height: 35px;
}
                                    /*더보기 묶음*/
main .event_five .bg_five_intro>p{
    width: 150px;
}
                                    /*더보기 커서 갖다댈시 애니메이션 */
main .event_five .bg_five_intro p:hover i{
    animation: animate 1s infinite alternate ease-in-out;
    cursor: pointer;
}

/*******************맨 위로 올라가는 버튼***************/
body .page_up{
    position: fixed;
    top: 70%;
    right: 30px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border-radius: 50%;
    background: linear-gradient(to top, rgb(0, 0, 0), rgb(255, 0, 0));
}

body .page_up a{
    color: rgb(209, 255, 244);
}
body .page_up a:hover{
    animation: degg 1s ease-in-out;
}
@keyframes degg{
    100%{
        transform: rotate(360deg);
    }
}