@font-face {
    font-family: 'MICEGothic Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-01@1.0/MICEGothic Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

/* 임시reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
ul,ul li{
    list-style: none;
}
h1,h2,h3,h4,h5,h6,a,p,td{
    font-family: 'MICEGothic Bold';
}
a{
    text-decoration: none;
}
a:hover{
    border-bottom: 1px solid;
}
.screen_out{
    display: none;
}
.text_out{
    text-indent: -99999999px;
}
input{
    text-align: center;
    width: 60px;
    border: 0;
    border-bottom: 1px dashed #2e2e2e;
}
.long_text{
    width: 170px;
}