<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>할리스 : 위치</title>
    <link rel="stylesheet" href="../../../styles/reset.css" />
    <link rel="stylesheet" href="../hollys_is_banner.css" />
    <link rel="stylesheet" href="./location.css" />
    <script
      type="text/javascript"
      src="//dapi.kakao.com/v2/maps/sdk.js?appkey=2028a55cd775a831a2072e4b93a09318&libraries=services"
    ></script>
  </head>
  <body>
    <main id="main" class="main">
      <section class="hollys_is--banner_wrap">
        <section class="hollys_is--banner">
          <section class="hollys_is--lnb--wrap">
            <section class="hollys_is--lnb">
              <section class="lnb_title--wrap">
                <h2 class="lnb_title">할리스 위치</h2>
                <div class="lnb_title--under"></div>
              </section>
              <section class="lnb_list--wrap">
                <ul class="lnb_list">
                  <li>
                    <a href="#none" class="lnb_list--hollys_btn"> 할리스 </a>
                    <ul class="lnb_list--hollys display_none">
                      <li>
                        <a href="../hollys/about_hollys.html">ABOUT HOLLYS</a>
                      </li>
                      <li><a href="../hollys/history.html">HISTORY</a></li>
                      <li><a href="../hollys/bi.html">BI</a></li>
                    </ul>
                  </li>
                  <li><a href="../location/location.html">할리스 위치</a></li>
                  <li><a href="../recruit/recruit.html">채용안내</a></li>
                  <li>
                    <a href="#none" class="lnb_list--b2b_btn">B2B사업</a>
                    <ul class="lnb_list--b2b display_none">
                      <li><a href="../b2b/info.html">B2B 소개</a></li>
                      <li>
                        <a href="../b2b/office_coffee_service.html"
                          >오피스 커피 서비스</a
                        >
                      </li>
                      <li>
                        <a href="../b2b/distribution.html">신채널 유통</a>
                      </li>
                      <li>
                        <a href="../b2b/consulting.html">사내카페 컨설팅</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </section>
            </section>
          </section>
        </section>
      </section>
      <section class="location_content--wrap">
        <section class="location_content">
          <p>할리스로 오시는 길을 알려드립니다.</p>
          <section class="location_category">
            <a href="#none">본사</a>
            <a href="#none">아카데미</a>
            <a href="#none">커피클럽 로스팅 센터</a>
          </section>
          <section class="location_category--content">
            <!-- 본사 -->
            <h3>본사</h3>
            <section class="location_head--office_content">
              <section class="location_head--office_address">
                <p>
                  <span>주소 : </span
                  ><span
                    >서울특별시 중구 통일로 92, 9층(순화동, 케이지타워)</span
                  >
                </p>
                <p><span>5호선 서대문역 6번 출구 250m</span></p>
              </section>
              <section class="location_head--office_tel">
                <p><span>가맹문의 : </span><span>02-6350-7229</span></p>
                <p><span>고객센터 : </span><span>02-2188-7100</span></p>
              </section>
            </section>
            <section class="location_head--office_email">
              <p>
                <span>점포개발팀</span><span>develop@hollyscoffee.com</span>
              </p>
              <p><span>B2B팀</span><span>b2b@hollyscoffee.com</span></p>
              <p><span>브랜딩팀</span><span>mkt@hollyscoffee.com</span></p>
              <p><span>인사총무팀</span><span>hr_ga@hollyscoffee.com</span></p>
              <p><span>구매팀</span><span>buyer@hollyscoffee.com</span></p>
            </section>
          </section>
          <section class="location_category--content">
            <!-- 아카데미 -->
            <h3>아카데미</h3>
            <section class="location_address">
              <p>
                <span>주소 : </span
                ><span>서울특별시 종로구 삼일대로 395 종로빌딩 5층</span>
              </p>
              <p>1. 지하철 1,3,5호선 '종로 3가역' 15번 출구에서 도보 5분</p>
              <p>
                2. 지하철 1호선 ‘종각역’ 4번 출구 혹은 종각 지하 쇼핑센터 12번
                출구에서 도보 3분
              </p>
            </section>
            <section class="location_email">
              <p><span>이메일 : </span><span>academy@hollyscoffee.com</span></p>
            </section>
          </section>
          <section class="location_category--content">
            <!-- 로스팅 -->
            <section>
              <section class="location_address">
                <p>
                  <span>주소 : </span
                  ><span>경기도 파주시 문산읍 돈유3로 87, 1~2층</span>
                </p>
              </section>
              <section class="location_tel">
                <p><span>전화번호 : </span><span>070-7734-3785</span></p>
              </section>
            </section>
            <section class="location_email">
              <p>
                <span>이메일 : </span><span>roasting@hollyscoffee.com</span>
              </p>
            </section>
          </section>
          <section class="location_category--map_download"></section>
          <section
            class="location_category--map"
            id="map"
            style="width: 500px; height: 500px"
          ></section>
        </section>
      </section>
    </main>
  </body>
  <!-- <script src="./location.js"></script> -->
  <script src="../hollys_is_lnb_script.js"></script>
</html>
