<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles/reset.css">
    <link rel="stylesheet" href="Hollys_mall_main.css">
    <link rel="stylesheet" href="Hollys_mall_sec_one.css">
    <link rel="stylesheet" href="Hollys_mall_sec_two.css">
    <link rel="stylesheet" href="Hollys_mall_sec_two_Hollys_card.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="../../jquery/jquery.js"></script>
    <script src="lnb_src.js"></script>
    <title>할리스 몰</title>
</head>
<body>
    <header></header>
    <main>
        <article class="article container" id="article">
            <section class="sec_one banner_tab" id="banner_tab">
                <div class="banner_wrap">
                    <div class="banner">
                        <div class="banner_txt">
                            <span class="h2_deco"></span>
                            <h2>할리스 몰</h2>
                        </div>
                        
                        <div class="lnb">
                            <ul>
                                <li><a href="#none">할리스 카드</a></li>
                                <li><a href="https://smartstore.naver.com/hollysstore">E-Store</a></li>
                                <li><a href="#none" class="purchase list">구매 내역</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>

            <section class="sec_two content" id="content"><!-- width:1200px -->
                
            </section>
        </article>
    </main>
    <footer></footer>
    
</body>
</html>