        <div class="header_first">
            <h1>
                <a href="#">
                    <img src="/src/assets/images/header/o_logo_img.png" alt="logo img">
                    <img src="/src/assets/images/header/o_logo_txt-removebg-preview.png" alt="logo text">
                </a>
                <a href="#">
                    <img src="/src/assets/images/header/w_logo_img.png" alt="logo img">
                    <img src="/src/assets/images/header/w_logo_txt-removebg-preview.png" alt="logo text">
                </a>
            </h1>
            
            <div class="gnb_right">
                <div class="header_top">
                    <ul>
                        <li><a href="#">아카데미</a></li>
                        <li><a href="#">창업설명회</a></li>
                        <li><a href="#">기업특판</a></li>
                        <li><a href="#">로그인</a></li>
                    </ul>
                </div>
        
                <div class="gnb_wrap">
                    <nav class="gnb">
                        <div class="depth-01">
                            <ul>
                                <li><a href="#">메뉴</a></li>
                                <li><a href="#">할리스 몰</a></li>
                                <li><a href="#">멤버십</a>
                                <li><a href="#">이벤트 및 공지</a></li>
                                <li><a href="#">매장</a></li>
                                <li><a href="#">할리스 소개</a></li>
                            </ul>
                        </div>
                        <div class="depth-02" style="display:none">
                            <ul>
                                <li><a href="#">음료</a></li>
                                <li><a href="#">음식</a></li>
                                <li><a href="#">MD</a></li>
                            </ul>
                            <ul>
                                <li><a href="#">할리스카드</a></li>
                                <li><a href="#">E-store</a></li>
                                <li><a href="#">구매내역</a></li>
                            </ul>
                            <ul>
                                <li><a href="">스마트오더</a></li>
                                <li><a href="">멤버십혜택</a></li>
                            </ul>
                            <ul>
                                <li><a href="">Notice</a></li>
                                <li><a href="">Event</a></li>
                            </ul>
                            <ul>
                                <li><a href="">매장찾기</a></li>
                            </ul>
                            <ul>
                                <li><a href="#">할리스</a></li>
                                <li><a href="#">할리스 위치</a></li>
                                <li><a href="#">채용안내</a></li>
                                <li><a href="#">B2B 사업</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>     
            </div>       
        </div>
