<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<head>
    <title>메인 페이지</title>
    <link rel="stylesheet" type="text/css" href="../../styles/reset.css">
    <link rel="stylesheet" type="text/css" href="main.css">
    <script src="main.js"></script>
    <script src="../../jquery/jquery-3.6.4.min.js"></script>
    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">

</head>

<body>

    <div>
        <header>
        </header>

        <main>


            <section class="main_cont" id="main1"> <!-- width:100% height:100vh position:relative-->
                <div> <!--width:100% height:100% -->
                    <video src="../../assets/video/main.mp4" autoplay muted>
                        메인 영상
                    </video>
                </div>

                <div class="text1"> <!-- width:100%; position:absolut-->
                    <div class="cof_text"> <!-- position:relative-->
                        <span>커피의 즐거움을 만드는</span>
                    </div>
                    <div class="min_text"> <!-- position:relative-->
                        <span>작은 차이의 미학</span>
                    </div>
                </div>
            </section>

            <section class="main_cont" id="main2">
                <a href="#none"><img src="../../assets/images/main/foodFontFin.png" alt="이달의 메뉴"> </a>
                <div class="win_text">
                    겨울을 빨갛게 물들이는
                </div>
                <div class="dep_text">
                    DEEP RED
                </div>
            </section>

            <section class="main_cont" id="main3">
                <a href="#none"><img src="../../assets/images/main/mdFontFin.png" alt="이달의 md상품"> </a>
                <div class="hol_text">
                    HOLLYS
                </div>
                <div class="dep2_text">
                    DEEP RED EDITION
                </div>
            </section>


            <footer>

            </footer>
        </main>
    </div>



</body>

</html>