/* header */
header{
    position: fixed;
    width: 100%;
    height: 70px;
    background: rgba(199, 47, 47, 0.144);
    z-index: 999;
}

/* main */
main{
    width: 100%;
}
main .container{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}
/* footer */
footer{
    width: 100%;
    border: 1px solid blue;
}
/******************** section_one *******************/
/* banner img */
.container .banner_wrap{
    position: relative;

    width: 100%;
    min-width: 1200px;
    height: calc(100vh - 70px);

    background: url(Academy_img_box/아카데미\ 소개.png) no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container .banner_wrap .banner {
    position: relative;
    width: 1200px;
    height: 200px;

    margin: auto;
    
    display: flex;
    justify-content: center;
}
/* banner text */
.container .banner_wrap .banner .path{
    position: absolute;
    top: 80px;
    left: 46.5%;
    transform: translateX(-50%);
}
.container .banner_wrap .banner h2{
    position: relative;

    font-size: 3em;

    color: #fff;
}
.container .banner_wrap .banner .h2_deco{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    content: '';

    width: 500px;
    height: 3px;
    background: rgb(199, 47, 47);
    animation: animate 0.5s ease-in;
}
@keyframes animate{
    0%{
        opacity: 0;
        width: 0;
    }
    100%{
        width: 340px;
    }
}


