/* reset */
body,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
section,
div,
main,
a,
img,
span,
input,
table,
tr,
th,
td,
button,
p {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
ul,
li {
  list-style: none;
}

/* main */

/* lnb */
.hollysis_lnb {
  width: 240px;
  font-size: 24px;
  font-weight: 500;
}
.hollysis_lnb li {
  width: 240px;
}
.hollysis_lnb li :hover {
  width: 240px;
  color: #c72f30;
}

/* bi content */
.bi_content--wrap {
  width: 940px;
  margin: 0 auto;
  display: flex;
}
.bi_content {
  width: 700px;
}
.bi_content h2 {
  margin-bottom: 30px;
}
.bi_download {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
.bi_download--img {
  display: flex;
  justify-content: space-between;
}
.bi_download--img img {
  width: 200px;
}
.bi_download--img img:first-child {
  margin-right: 90px;
}
.bi_download--btn {
  padding: 5px 0 0 0;
}
.bi_download--btn a {
  color: white;
  padding: 5px 10px;
  background: #c72f30;
  border-radius: 5px;
  box-sizing: border-box;
}
.bi_download--hollyscolor {
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.bi_download--hollyscolor > p {
  width: 100px;
  margin-bottom: 10px;
  text-align: center;
}
.bi_download--hollyscolor div {
  width: 100px;
  height: 100px;
  background: #c72f30;
  display: flex;
  align-items: center;
  color: white;
  justify-content: center;
}
.bi_history {
  margin-bottom: 100px;
}
.bi_history h3 {
  margin-bottom: 20px;
}
.bi_history img {
  width: 700px;
}
.bi_crown {
  margin-bottom: 30px;
}
.bi_crown h3 {
  margin-bottom: 20px;
}
.bi_crown img {
  width: 700px;
}
