<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>할리스 : history</title>
    <link rel="stylesheet" href="./history.css" />
  </head>
  <body>
    <main id="main" class="main">
      <section class="history_content--wrap">
        <div class="hollysis_lnb">
          <ul>
            <li>
              <a href="./drink.html">할리스</a>
              <ul>
                <li><a href="./md.html">할리스?</a></li>
                <li><a href="./md.html">연혁</a></li>
                <li><a href="./md.html">BI</a></li>
              </ul>
            </li>
            <li><a href="./food.html">위치 및 연락처</a></li>
            <li>
              <a href="./md.html">채용안내</a>
              <ul>
                <li><a href="./md.html">인재상</a></li>
                <li><a href="./md.html">복리후생</a></li>
                <li><a href="./md.html">채용절차</a></li>
                <li><a href="./md.html">채용공고</a></li>
              </ul>
            </li>
            <li><a href="./md.html">가맹문의 및 절차</a></li>
            <li><a href="./md.html">B2B사업소개</a></li>
          </ul>
        </div>
        <section class="history_content">
          <h2>연혁</h2>
          <section class=""></section>
        </section>
        <section class="history_content"></section>
      </section>
    </main>
  </body>
</html>
