body {
  font-size: 16px;
}
a {
  color: inherit;
}

/* page route */
.page_route--wrap {
  width: 1200px;
  margin: 0 auto;
}
.page_route {
  font-size: 12px;
  color: #666;
  margin-bottom: 50px;
}

/* main */
.my_coupon--title_wrap {
  width: 1200px;
  margin: 0 auto;
}
.my_coupon--title {
  font-size: 32px;
  margin-bottom: 30px;
}
.my_hollys_card--btn_wrap {
  width: 1200px;
  margin: 0 auto 30px;
  text-align: end;
}
.my_coupon--content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.my_coupon--content_wrap {
  width: 1200px;
  margin: 0 auto;
}
.my_coupon--coupon {
  display: flex;
  align-items: center;
}
.my_coupon--coupon_img--wrap {
  margin-bottom: 30px;
  margin-right: 30px;
}
.my_coupon--coupon_img {
  width: 200px;
}
