<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>할리스 : 사내카페 컨설팅</title>
    <link rel="stylesheet" href="./info.css" />
  </head>
  <body>
    <main id="main" class="main">
      <section class="info_content--wrap">
        <section class="info_content">
          <h2>사내카페 컨설팅</h2>
          <p>
            할리스는 기업의 환경, 규모, 임직원의 복리후생 향상에 적합한 최적의
            사내 복지카페 솔루션을 제공합니다. 사내카페의 설계부터 인테리어,
            장비 구성, 메뉴 제안, 원부자재 공급, 카페 운영의 유지관리까지 Café
            System에 있어, Total Solution을 공급하고 있습니다.
          </p>
          <section>
            <section>
              <img src="../../../assets/images/hollysis/b2b_16.jpg" alt="" />
            </section>
            <section>
              <img src="../../../assets/images/hollysis/b2b_17.jpg" alt="" />
            </section>
          </section>
          <h3>사내카페 컨설팅 절차</h3>
          <section>
            <section>
              <img src="../../../assets/images/hollysis/b2b_18.jpg" alt="" />
            </section>
          </section>
        </section>
      </section>
    </main>
  </body>
</html>
