<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>할리스 : 오피스 커피 서비스</title>
    <link rel="stylesheet" href="../../../styles/reset.css" />
    <link rel="stylesheet" href="./office_coffee_service.css" />
    <link rel="stylesheet" href="./distribution.css" />
  </head>
  <body>
    <main id="main" class="main">
      <section class="distribution_content--wrap">
        <section class="distribution_content">
          <h2 class="distribution_title">신채널 유통</h2>
          <h3 class="distribution_sub--title">커피 상품 및 선물 세트 공급</h3>
          <section class="distribution_cont">
            <section class="distribution_detail">
              <div class="distribution_img">
                <img src="../../../assets/images/hollysis/b2b_09.jpg" alt="" />
              </div>
              <section class="distribution_txt">
                <p>할리스 상품</p>
                <p>
                  할리스의 특별한 선물로 귀사의 가치를 높여드립니다. 대량 구매
                  및 상담을 도와드립니다.
                </p>
              </section>
            </section>
            <section class="distribution_detail">
              <div class="distribution_img">
                <img src="../../../assets/images/hollysis/b2b_10.jpg" alt="" />
              </div>
              <section class="distribution_txt">
                <p>할리스 선물세트</p>
                <p>
                  할리스의 다양한 구성으로 귀사를 위한 특별한 선물세트를
                  구성해드립니다
                </p>
              </section>
            </section>
          </section>
          <h3 class="distribution_sub--title">할리스 Gift</h3>
          <section class="distribution_cont">
            <section class="distribution_detail">
              <div class="distribution_img">
                <img src="../../../assets/images/hollysis/b2b_11.jpg" alt="" />
              </div>
              <section class="distribution_txt">
                <p>할리스 Gift Card</p>
                <p>
                  소중한 귀사의 고객께 할리스카드를 간편하게 선물하실 수
                  있습니다.
                </p>
              </section>
            </section>
            <section class="distribution_detail">
              <div class="distribution_img">
                <img src="../../../assets/images/hollysis/b2b_12.jpg" alt="" />
              </div>
              <section class="distribution_txt">
                <p>할리스 모바일 상품권</p>
                <p>
                  사용 편의성이 높은 모바일 상품권으로 고객 만족도를 높일 수
                  있습니다.
                </p>
              </section>
            </section>
          </section>
          <h3 class="distribution_material--sub_title">
            원료 납품(농축액, SD, 파우더 등)
          </h3>
          <p class="distribution_sub--title_txt">
            식품 제조에 사용되는 커피 농축액, 커피 분말, 다양한 원료 파우더 등
            할리스에서 공급하는 전문 원료와 함께 기업 비즈니스를 설계하십시오.
          </p>
          <section class="distribution_cont">
            <section class="distribution_material--detail">
              <div class="distribution_material--img">
                <img src="../../../assets/images/hollysis/b2b_13.jpg" alt="" />
              </div>
              <section class="distribution_txt">
                <p>커피 농축액</p>
              </section>
            </section>
            <section class="distribution_material--detail">
              <div class="distribution_material--img">
                <img src="../../../assets/images/hollysis/b2b_14.jpg" alt="" />
              </div>
              <section class="distribution_txt">
                <p>커피 분말</p>
              </section>
            </section>
            <section class="distribution_material--detail">
              <div class="distribution_material--img">
                <img src="../../../assets/images/hollysis/b2b_15.jpg" alt="" />
              </div>
              <section class="distribution_txt">
                <p>원료 파우더</p>
              </section>
            </section>
          </section>
        </section>
      </section>
    </main>
  </body>
</html>
