/* reset */
body,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
section,
div,
main,
a,
img,
span,
input,
table,
tr,
th,
td,
button,
p {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
ul,
li {
  list-style: none;
}

/* main */

/* about content */
.info_content--wrap {
  width: 1200px;
  margin: 0 auto;
  display: flex;
}
.info_content h2 {
  font-size: 72px;
  margin-bottom: 30px;
}
