<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>할리스 : 오피스 커피 서비스</title>
    <link rel="stylesheet" href="./info.css" />
  </head>
  <body>
    <main id="main" class="main">
      <section class="info_content--wrap">
        <section class="info_content">
          <h2>오피스 커피 서비스</h2>
          <p>
            할리스는 업계 최고의 OCS 전용 커피 머신과 할리스 로스팅 센터에서
            직접 로스팅한 신선한 에스프레소 커피로 기업 내 커피 서비스를 한 차원
            업그레이드 시켜드립니다. 다양한 B2B 전용 원두와 카페 원부자재의
            납품, 렌탈 머신 운영 등 다양한 기업 커피 솔루션을 할리스와 함께
            설계하십시오.
          </p>
          <h3>자동커피머신 렌탈</h3>
          <section>
            <section>
              <img src="../../../assets/images/hollysis/b2b_04.jpg" alt="" />
              <p>
                JURA WE6 A model 50인 이하 사업장 원두 월 4kg ~ 20kg 권장
                계약기간 2년 월정액 기준 (원두 4kg 기본) 월 1회 방문 점검 서비스
              </p>
            </section>
            <section>
              <img src="../../../assets/images/hollysis/b2b_05.jpg" alt="" />
              <p>
                thermoplan B&W 4c B model 50인 이상 사업장 원두 월 20kg ~ 50kg
                권장 계약기간 3년 월정액 기준 (원두 20kg 기본) 월 1회 방문 점검
                서비스
              </p>
            </section>
          </section>
          <h3>원두 및 카페 원부자재 납품</h3>
          <section>
            <section>
              <img src="../../../assets/images/hollysis/b2b_06.jpg" alt="" />
              <p>
                할리스 원두 상품 할리스 연구소의 국제공인 커피
                감별사(G-grader)가 엄선한 최고급 원두 품질로 귀사의 가치를
                높여드립니다. 대량 구매 및 상담을 도와드립니다.
              </p>
            </section>
            <section>
              <img src="../../../assets/images/hollysis/b2b_07.jpg" alt="" />
              <p>
                카페 원부자재 상품 공급 Office coffee service 운영에 필요한 카페
                관련 고품질 원부자재를 공급합니다.
              </p>
            </section>
          </section>
          <h3>원두 및 카페 원부자재 납품</h3>
          <section>
            <section>
              <img src="../../../assets/images/hollysis/b2b_08.jpg" alt="" />
              <p>
                컨퍼런스, 기업 행사 등 다양한 모임과 장소에 할리스 전문 케이터링
                부스를 설치하여 프리미엄 커피 서비스를 제공합니다. 귀사의 중요한
                행사를 할리스와 함께 성공적으로 설계하십시오! Hollys 전용 부스 &
                장비 설치 전문 바리스타 서비스 Original Coffee Quality of Hollys
                다양한 할리스 메뉴 적용
              </p>
            </section>
          </section>
        </section>
      </section>
    </main>
  </body>
</html>
