/*font*/
@font-face {
  font-family: "MICEGothic Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-01@1.0/MICEGothic Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}
body {
  font-family: "MICEGothic Bold";
}

/* skip menu */
.skip_menu {
  position: absolute;
  width: 100%;
  height: 30px;
  text-align: center;
  background: #333;
  color: #fff;
  top: -40px;
  padding-top: 10px;
}
.skip_menu:focus {
  top: 0;
  text-decoration: underline;
  z-index: 99;
}

/* header */
.header {
  height: 142px;
  text-align: center;
  border-bottom: 2px solid #b5121b;
  box-sizing: border-box;
}
h1 img {
  height: 72px;
  margin-top: 10px;
}
/*gnb*/
.gnb {
  margin: auto;
  text-align: center;
  position: relative;
}
.gnb .menu {
  width: 940px;
  height: 60px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  box-sizing: border-box;
}
.menu li {
  width: 15%;
}
.menu a {
  padding: 10px 22px;
}
.menu a:hover {
  background: #d91226;
  color: #fff;
}

/*sub menu*/
.sub_menu {
  position: absolute;
  top: 50px;
  width: 100%;
  background: #4f4c4b;
  z-index: 99;
  transition: all, 1s;
}
.s_menu_cont {
  width: 940px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 20px 10px 100px;
  line-height: 1.4;
  box-sizing: border-box;
}
.sub_menu ul {
  width: 13%;
}
.sub_menu a {
  font-size: 13px;
  color: #c7c5c5;
}
.sub_menu a:hover{
  color: white;
}
/*top menu*/
.top_menu {
  position: absolute;
  top: 15px;
  left: 65%;
}
.top_menu ul {
  display: flex;
  justify-content: space-between;
  width: 200px;
}
.top_menu a {
  font-size: 12px;
}

/*h2 display none*/
.hide {
  width: 0;
  height: 0;
  text-indent: -9999px;
}
