/* reset */
body,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
section,
div,
main,
a,
img,
span,
input,
table,
tr,
th,
td,
button,
p {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
ul,
li {
  list-style: none;
}

/* main */

/* lnb */
.hollysis_lnb {
  width: 240px;
  font-size: 24px;
  font-weight: 500;
}
.hollysis_lnb li {
  width: 240px;
}
.hollysis_lnb li :hover {
  width: 240px;
  color: #c72f30;
}

/* about content */
.about_content--wrap {
  width: 940px;
  margin: 0 auto;
  display: flex;
}
.about_content {
  width: 700px;
}
.about_content h2 {
  margin-bottom: 30px;
}

/* about content top */
.about_content--top_text p:first-child {
  margin-bottom: 20px;
}
.about_content--top_text p:first-child span {
  font-weight: bold;
  font-size: 18px;
}
.about_content--top_text p:nth-child(2) {
  height: 350px;
  background: url("../../../assets/images/hollysis/about_01.jpg") no-repeat;
  line-height: 2;
  color: white;
  padding: 80px 0 0 30px;
  margin-bottom: 20px;
  box-sizing: border-box;
}
.about_content--top_text p:nth-child(2) span {
  font-size: 18px;
  font-weight: bold;
  border-bottom: 3px solid #cb333b;
}
.about_content--top_text p:last-child {
  margin-bottom: 100px;
}

/* about content mid */
.about_content--mid h3,
.about_content--mid_top {
  margin-bottom: 20px;
}
.about_content--mid_top {
  display: flex;
}
.about_content--mid_top img {
  width: 340px;
  margin-left: 20px;
}
.about_content--mid_bottom {
  margin-bottom: 100px;
}
.about_content--mid_bottom--img {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.about_content--mid_bottom img {
  width: 340px;
  height: 240px;
}
/* about content bottom */
.about_content--bottom {
  margin-bottom: 30px;
}
.about_content--bottom h3 {
  margin-bottom: 20px;
}
.about_content--bottom_top {
  margin-bottom: 50px;
}
.about_content--bottom_top--img,
.about_content--bottom_bottom--img {
  display: flex;
  margin-bottom: 20px;
}
.about_content--bottom_top--img img,
.about_content--bottom_bottom--img p {
  margin-left: 20px;
}
