<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>할리스 : BI</title>
    <link rel="stylesheet" href="./bi.css" />
  </head>
  <body>
    <main id="main" class="main">
      <section class="bi_content--wrap">
        <section class="bi_content">
          <h2>BI</h2>
          <section class="bi_download">
            <section class="bi_download--img">
              <img src="../../../assets/images/hollysis/bi_01.png" alt="" />
              <img src="../../../assets/images/hollysis/bi_02.png" alt="" />
            </section>
            <section class="bi_download--other">
              <section class="bi_download--btn">
                <a
                  href="../../../assets/images/hollysis/bi_03.png"
                  download="bi.png"
                  >로고 다운로드</a
                >
              </section>
              <section class="bi_download--hollyscolor">
                <p>Hollys Color</p>
                <div class="bi_hollyscolor">
                  <p>#cb333b</p>
                </div>
              </section>
            </section>
          </section>
          <section class="bi_history">
            <h3>HISTORY OF HOLLYS LOGO</h3>
            <img src="../../../assets/images/hollysis/bi_04.jpg" />
          </section>
          <section class="bi_crown">
            <h3>HOLLYS CROWN<br />커피의 즐거움을 만드는 작은 차이의 미학</h3>
            <p>
              CROWN(왕관) 형상은 할리스를 매개로 고객과 바리스타가 손을 맞잡고
              있는 형태를 상징합니다. 이는 할리스를 방문하시는 고객의 이야기에
              귀 기울이고 진심을 담아 서비스하는 마음을 담고 있습니다.
            </p>
            <img src="../../../assets/images/hollysis/bi_05.jpg" />
          </section>
        </section>
      </section>
    </main>
  </body>
</html>
