<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>할리스 : BI 소개</title>
    <link rel="stylesheet" href="./bi.css" />
  </head>
  <body>
    <main id="main" class="main">
      <section class="bi_content--wrap">
        <section class="bi_content">
          <h2>BI 소개</h2>
          <section class="bi_download--wrap">
            <section class="bi_download">
              <section class="bi_sub--title_wrap">
                <section class="bi_sub--title">
                  <h3>HOLLYS COFFEE BI</h3>
                  <p>할리스 커피 브랜드 아이덴티티</p>
                </section>
                <section class="bi_download--btn">
                  <a
                    href="../../../assets/images/hollysis/bi_03.png"
                    download="bi.png"
                    >BI 다운로드</a
                  >
                </section>
              </section>
              <section class="bi_img--wrap">
                <section class="bi_img">
                  <img src="../../../assets/images/hollysis/bi_01.png" alt="" />
                  <img src="../../../assets/images/hollysis/bi_02.png" alt="" />
                </section>
                <section class="bi_hollyscolor--wrap">
                  <div class="bi_hollyscolor">
                    <span>HOLLYS RED</span>
                    <span>C 00</span>
                    <span>M 76</span>
                    <span>Y 76</span>
                    <span>K 22</span>
                  </div>
                </section>
              </section>
            </section>
          </section>
          <section class="bi_crown">
            <section class="bi_sub--title">
              <h3>HOLLYS CROWN</h3>
              <p>커피의 즐거움을 만드는 작은 차이의 미학</p>
            </section>
            <section class="bi_crown_content">
              <img src="../../../assets/images/hollysis/bi_04.jpg" />
              <p>
                CROWN(왕관) 형상은 할리스를 매개로 고객과 바리스타가 손을 맞잡고
                있는 형태를 상징합니다.<br />
                이는 할리스를 방문하시는 고객의 이야기에 귀 기울이고 진심을 담아
                서비스하는 마음을 담고 있습니다.
              </p>
            </section>
          </section>
          <section class="bi_history">
            <section class="bi_sub--title">
              <h3 class="bi_sub--title">HISTORY OF HOLLYS LOGO</h3>
            </section>
            <section class="bi_history--img">
              <img src="../../../assets/images/hollysis/bbbbb.jpg" />
            </section>
          </section>
        </section>
      </section>
    </main>
  </body>
</html>
