<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>할리스 : history</title>
    <link rel="stylesheet" href="../../../styles/reset.css" />
    <link rel="stylesheet" href="./history.css" />
  </head>
  <body>
    <main id="main" class="main">
      <section class="hollys_is--banner_wrap">
        <section class="hollys_is--banner">
          <section class="hollys_is--lnb--wrap">
            <section class="hollys_is--lnb">
              <section class="lnb_title--wrap">
                <p class="lnb_title">History</p>
                <div class="lnb_title--under"></div>
              </section>
              <section class="lnb_list--wrap">
                <ul class="lnb_list">
                  <li>
                    <a href="#none" class="lnb_list--hollys_btn"> 할리스 </a>
                    <ul class="lnb_list--hollys display_none">
                      <li><a href="./about_hollys.html">ABOUT HOLLYS</a></li>
                      <li><a href="./history.html">HISTORY</a></li>
                      <li><a href="./bi.html">BI</a></li>
                    </ul>
                  </li>
                  <li><a href="../location/location.html">할리스 위치</a></li>
                  <li><a href="../recruit/recruit.html">채용안내</a></li>
                  <li>
                    <a href="#none" class="lnb_list--b2b_btn">B2B사업</a>
                    <ul class="lnb_list--b2b display_none">
                      <li><a href="../b2b/info.html">B2B 소개</a></li>
                      <li>
                        <a href="../b2b/office_coffee_service.html"
                          >오피스 커피 서비스</a
                        >
                      </li>
                      <li>
                        <a href="../b2b/distribution.html">신채널 유통</a>
                      </li>
                      <li>
                        <a href="../b2b/consulting.html">사내카페 컨설팅</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </section>
            </section>
          </section>
        </section>
      </section>
      <section class="history_content--wrap">
        <section class="history_content">
          <h2>연혁</h2>
          <section class=""></section>
        </section>
        <section class="history_content"></section>
      </section>
    </main>
  </body>
  <script src="../hollys_is_lnb_script.js"></script>
</html>
